<!--
  Generated template for the BrowserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="buriram">
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{selectedItem}}</ion-title>
      </ion-navbar>

</ion-header>

<ion-content no-padding>
  <div *ngIf="selectedItem == 'ข่าวประชาสัมพันธ์'">
    <iframe src='http://www.buriramgames.com/news/pr-news/' id="load"></iframe>
  </div>
  <div *ngIf="selectedItem == 'ระบบจองคิวรถ'">
    <iframe src='http://www.buriramgames.com/information/coordination-center/vehicle-and-transportation-department/' id="load"></iframe>
  </div>
  
  <!-- p1 -->
  <div *ngIf="selectedItem == 'สัญลักษณ์การแข่งขัน'">
    <iframe src='http://www.buriramgames.com/buriram-games-35/logo/' id="load"></iframe>
  </div>
  <div *ngIf="selectedItem == 'สัญลักษณ์สัตว์นำโชคการแข่งขัน'">
    <iframe src='http://www.buriramgames.com/buriram-games-35/mascot/' id="load"></iframe>
  </div>
  <div *ngIf="selectedItem == 'เพลงประจำการแข่งขัน'">
    <iframe src='http://www.buriramgames.com/buriram-games-35/song/' id="load"></iframe>
  </div>
  <div *ngIf="selectedItem == 'กำหนดการเปิด/ปิด'">
    <iframe src='http://www.buriramgames.com/buriram-games-35/schedule/' id="load"></iframe>
  </div>
  <div *ngIf="selectedItem == 'กำหนดการเลี้ยงต้อนรับนักกีฬา'">
    <iframe src='http://www.buriramgames.com/buriram-games-35/welcome-schedule/' id="load"></iframe>
  </div>
  <div *ngIf="selectedItem == 'จำนวนนักกีฬา'">
    <iframe src='http://www.buriramgames.com/buriram-games-35/athletes-who-competed/' id="load"></iframe>
  </div>
  <div *ngIf="selectedItem == 'นักวิ่งคบเพลิง'">
    <iframe src='http://www.buriramgames.com/buriram-games-35/torch-runner/' id="load"></iframe>
  </div>
  <div *ngIf="selectedItem == 'ผู้แทนผู้ตัดสิน'">
    <iframe src='http://www.buriramgames.com/buriram-games-35/referee/' id="load"></iframe>
  </div>
  <div *ngIf="selectedItem == 'คณะกรรมการจัดการแข่งขัน'">
    <iframe src='http://www.buriramgames.com/buriram-games-35/competition-committee/' id="load"></iframe>
  </div>
  <!-- end p1 -->
  <!-- p2 -->
  <div *ngIf="selectedItem == 'ชนิดกีฬาที่ทำการแข่งขัน'">
    <iframe src='http://www.buriramgames.com/information/list-of-sports/' id="load"></iframe>
  </div>
  <div *ngIf="selectedItem == 'กำหนดการแข่งขัน'">
    <iframe src='http://www.buriramgames.com/information/sport-schedule/' id="load"></iframe>
  </div>
  <div *ngIf="selectedItem == 'ตารางการแข่งขัน'">
    <iframe src='http://www.buriramgames.com/information/competition-schedule/' id="load"></iframe>
  </div>
  <div *ngIf="selectedItem == 'สนามแข่งกีฬาและฝึกซ้อม'">
    <iframe src='http://www.buriramgames.com/information/race-course-practice-field/' id="load"></iframe>
  </div>
  <div *ngIf="selectedItem == 'รายชื่อนักกีฬา'">
    <iframe src='http://www.buriramgames.com/information/list-of-athletes/' id="load"></iframe>
  </div>
  <div *ngIf="selectedItem == 'กำหนดการประชุมผู้จัดการทีม'">
    <iframe src='http://www.buriramgames.com/information/team-manager-meeting-schedule/' id="load"></iframe>
  </div>
  <div *ngIf="selectedItem == 'สูจิบัตรและระเบียบการแข่งขันแต่ละประเภท'">
    <iframe src='http://www.buriramgames.com/information/team-manager-meeting-schedule/' id="load"></iframe>
  </div>
  <div *ngIf="selectedItem == 'ระเบียบการแข่งขัน'">
    <iframe src='http://www.buriramgames.com/information/sport-rules/' id="load"></iframe>
  </div>
  <!-- end p2 -->

  <!-- p3 -->
  <div *ngIf="selectedItem == 'ผลการแข่งขันตามชนิดกีฬา'">
    <iframe src='http://www.buriramgames.com/result/result-by-sport/' id="load"></iframe>
  </div>
  <div *ngIf="selectedItem == 'รายงานการแข่งขึ้นประจำวัน'">
    <iframe src='http://www.buriramgames.com/result/result-by-daily/' id="load"></iframe>
  </div>
  <div *ngIf="selectedItem == 'สรุปผลการแข่งขันประจำวัน'">
    <iframe src='http://www.buriramgames.com/result/conclude-by-day/' id="load"></iframe>
  </div>
  <div *ngIf="selectedItem == 'สรุปผลการแข่งขันทั้งหมด'">
    <iframe src='http://www.buriramgames.com/result/result-all/' id="load"></iframe>
  </div>
  <!-- end p3 -->

  <!-- end p4 -->
  <div *ngIf="selectedItem == 'ตามสังกัด'">
    <iframe src='http://www.buriramgames.com/medal/medal-team/' id="load"></iframe>
  </div>
  <div *ngIf="selectedItem == 'สรุปเหรียญรางวัลประจำวัน'">
    <iframe src='http://www.buriramgames.com/medal/medal-daily/' id="load"></iframe>
  </div>
  <div *ngIf="selectedItem == 'ตารางการสรุปเหรียญรางวัล'">
    <iframe src='http://www.buriramgames.com/medal/medal-table/' id="load"></iframe>
  </div>
  <div *ngIf="selectedItem == 'สรุปเหรียญตามภูมิภาค'">
    <iframe src='http://www.buriramgames.com/medal/medal-sector/' id="load"></iframe>
  </div>
  <!-- end p4 -->
  <!-- p5 -->
  <div *ngIf="selectedItem == 'ที่พักนักกีฬา'">
      <!-- <a class="item" href="#" onclick="window.open('http://www.buriramgames.com/wp-content/uploads/2019/04/brg35-accommodation-04-10-2019.pdf', '_system', 'location=yes'); return false;">
        Open pdf
      </a> -->
    <iframe src='http://www.buriramgames.com/hostel/hostellist.php' id="load"></iframe>
    <!-- <a class="item" href="#" onclick="window.open('geo:38.897096,-77.036545', '_system', 'location=yes'); return false;" id="load"> open map</a> -->
    
  </div>
  <div *ngIf="selectedItem == 'โรงแรมที่พัก'">
    <iframe src='http://www.buriramgames.com/accommodation/hotel/' id="load"></iframe>
  </div>
  <!-- end p5 -->
  <!-- p6 -->
  <div *ngIf="selectedItem == 'เกี่ยวกับบุรีรัมย์'">
    <iframe src='http://www.buriramgames.com/buriram/about/' id="load"></iframe>
  </div>
  <div *ngIf="selectedItem == 'สถานที่ท่องเที่ยว'">
    <iframe src='http://www.buriramgames.com/buriram/travel-place/' id="load"></iframe>
  </div>
  <div *ngIf="selectedItem == 'การเดินทาง'">
    <iframe src='http://www.buriramgames.com/buriram/the-route/' id="load"></iframe>
  </div>
  <!-- end p6 -->
  <!-- p7 -->
  <div *ngIf="selectedItem == 'อำเภอเมืองบุรีรัมย์'">
    <iframe src='http://www.buriramgames.com/information/challenge-field/muang-buriram/' id="load"></iframe>
  </div>
  <div *ngIf="selectedItem == 'อำเภออื่นๆ'">
    <iframe src='http://www.buriramgames.com/information/challenge-field/amphoe-buriram/' id="load"></iframe>
  </div>
  <div *ngIf="selectedItem == 'นครราชสีมาและสมุทรปราการ'">
    <iframe src='http://www.buriramgames.com/information/challenge-field/nakhon-ratchasima-and-samut-prakan/' id="load"></iframe>
  </div>
  <!-- end p7 -->
  
</ion-content>
